body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  #calculator {
    width: 20%;
    padding: 10;
    margin: 0 auto;
    background-color: #eeeeee;
    border-radius: 5px;
  }
  
  input {
    width: 50px;
    border: 1px solid black;
    margin: 10px 0;
  }
  
  button {
    width: 50px;
    border: 1px solid black;
    margin: 10px 0;
    background-color: #00bfff;
    color: white;
  }
  
  #result {
    width: 100px;
    border: 1px solid black;
    margin: 10px 0;
  }
  