@page
@model AuthorModel
@{
    ViewData["Title"] = "Author information";
}
<h1>@ViewData["Title"]</h1>

<p>This webpage was made by Israel Gómez in the video of "HTTPClient Cors" uploaded to Fundación Mnqobi's official Youtube Channel, then it was edited to make the explanatory video of WebApi by Daniela Barazarte #DetectaLaLogica</p>
<a href="https://github.com/danielabarazarte/DetectaLaLogica">Github #DetectaLaLogica</a>