body{
  font-family: 'Segoe UI', Tahoma, sans-serif;
  background-color: thistle;
}

h1 {
  text-align: center;
  font-size: 40px;
  color:brown;
}

h2 {
  text-align: left;
  font-size: 20px;
  color: blueviolet;
  font-family: Monospace;
}

img {
  width: 20%;
  padding: 5px;
}